.sectionTwoWrapper {
  padding: 0em 0;
}


.page_title {
  svg {
    width: 500px;
    display: block;
    margin: auto;
    text {
      font-size: 8px;
      font-weight: bold;
      font-family: 'Helvetica';
    }
  }
}